backend/
backend-fastapi/venv/
backend-fastapi/__pycache__/
backend-fastapi/**/__pycache__/
backend-fastapi/iams.db
backend-fastapi/.env
frontend/node_modules/
frontend/.env
frontend/build/
frontend/dist/